<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>

<div class="container bg-secondary text-white text-center p-5 my-4"> 
<h1> Sending Email </h1>
</div>
<div class="container my-5"> 
<form th:action="@{/send-mail}" method="post">

<div class="mb-3">
	<div class="mb-3">
	    <label for="exampleInputEmail1" class="form-label">Email address</label>
	    <input type="email" name="recipient" class="form-control" placeholder="Email">
	   
	  </div>
    <label for="exampleInputEmail1" class="form-label">Subject </label>
    <input type="text" name="subject" class="form-control" placeholder="subject">
    
  </div>
  
  <div class="mb-3">
     <textarea rows="8" name="msgBody" class="form-control mb-3" placeholder="your message here"></textarea>
  </div>
 
 
  <button type="submit" class="btn btn-primary"><i class="fa fa-send"></i> Send </button>
</form>
</div>
</body>
</html>